/*********************************************
 * 
 * Skapat av Joel Lindberg (joli0939)
 * 
 ********************************************/

/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    width: 100%;
    background: #01001f;
}


/* Text */
p, a, span, label, input {
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Permanent Marker', cursive;
}

h2, h3, h4, p {
    color: #fff;
}

a {
    color: #ff1ae2;
    text-decoration: none;
}

input {
    outline: 0;
}


/* Banner */
.banner {
    width: 100%;
}

.banner img  {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}


/* Footer */
footer {
    height: 11vh;
    padding-top: 5vh;
    text-align: center;
    background: #163142;
    width: 100%;
    margin-top: -4px;
}

footer a:not(:last-of-type) {
    margin-right: 5vw;
}








/* CSS för mobil och surfplatta*/
@media screen and (max-width: 799px) {

    /* Text */
    h1 {
        margin-left: 2vw;
        font-size: 9vw;
    }

    h2 {
        font-size: 8vw;
    }

    h3 {
        font-size: 7vw;
        margin-bottom: 2vh;
    }

    h4 {
        font-size: 5vw;
    }

    a, p, span {
        font-size: 4vw;
    }

    
    /* Banner */
    .banner video {
        display: none;
    }


    /* Huvudmeny */
    nav {
        list-style-type: none;
        background: rgba(0, 0, 0, 0);
        margin-top: -4px;
        margin-bottom: 50px;
        visibility: hidden;
    }

    nav ul {
        display: block;
        text-align: center;
    }

    nav li {
        display: block;
    }

    .current {
        color: #ff1ae2;
    }

    .current::after {
        content: '';
        display: block;
        height: 5px;
        width: 50%;
        margin: auto;
        background: #fff;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 5%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 5%, 0 100%);
    }

    nav a {
        display: block;
        text-decoration: none;
        font-family: 'Permanent Marker', cursive;
        font-size: 7vw;
        color: #fff;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .header-class {
        position: fixed;
        top: -50vh;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 50vh;
        z-index: 999;
        transition: top 1s;
        padding-bottom: 1vh;
    }

    .dropdown {
        top: 0vh;
        transition: top 1s;
        visibility: visible;
    }

    #dropdown-menu {
        display: block;
        position: absolute;
        top: 51vh;
        left: 55vw;
        width: 20vw;
        text-align: center;
        color: #fff;
        font-size: 6vw;
        background: rgba(0, 0, 0, 0.5);
        border: 1px solid #fff;
    }


    /* Pil över videobakgrund */
    #index-arrow {
        position: absolute;
        top: 80vh;
        width: 8vw;
        margin-left: 44%;
        padding: 5px 5px 5px 5px;
        text-align: center;
        font-size: 7vw;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 100%;
    }


    /* Videobakgrund */
    #background-video {
        width: 80%;
        height: 80%;
    }

    #background-video > video {
        height: 100vh;
        width: 100vw;
        object-fit: cover;
    }


    /* Startsida */
    #index-container {
        margin-top: -5px;
        min-height: 40vh;
        background: #f1f1f1;
        padding: 15% 0% 10% 0%;
    }

    #index-container h2 {
        color: #000;
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 5%;
    }

    #index-container p {
        color: #000;
        padding: 0% 10% 0% 10%;
    }

    #index-latest-news {
        min-height: 60vh;
        padding: 5vh 5vw 5vh 5vw;
    }

    #index-latest-news h3 {
        text-align: center;
    }

    #index-latest-news div {
        width: 90vw;
        margin-bottom: 5vh;
    }

    .index-news-div img {
        display: block;
    }


    /* Produktionslogotyper */
    .index-productions {
        padding: 5% 0% 5% 0%;
        background: linear-gradient(#414f76, #000a29);
        text-align: center;
    }

    .index-productions a {
        display: block;
    }

    .index-productions img {
        max-width: 70%;
        height: auto;
    }


    /* Tjänster */
    .services img {
        max-width: 100%;
    }

    .services-img {
        border-bottom: 2px solid #ff1ae2;
    }

    .services-text {
        padding: 3vh 5vw 10vh 5vw;
    }


    /* Produktioner */
    .productions-site {
        background: #01001f;
    }


    /* Kontakt */
    #contact-form-div {
        display: block;
        width: 100%;
        min-height: 30vh;
        background-color: #163142;
        padding: 5vh 0 5vh 0;
    }

    #contact-text {
        display: block;
        width: 80%;
        margin: auto;
        text-align: center;
    }

    #contact-text p {
        margin-top: 5%;
    }

    .contact-arrow {
        text-align: center;
        font-size: 8vw;
        margin-bottom: 5vh;
    }

    #contact-arrow-right {
        display: none;
    }

    .wpcf7 {
        width: 100%
        
    }

    .wpcf7 form {
        width: 80%;
        margin: auto;
    }

    .wpcf7 label {
        font-size: 4vw;
        color: #fff;
        margin-top: 3%;
    }

    .wpcf7-text {
        background: #163142;
        border: none;
        height: 25px;
        width: 100%;
        margin-bottom: 3vh;
        border-bottom: 1px solid #fff;
        color: #fff;
    }

    #contact-message textarea {
        width: 97%;
        min-height: 20vh;
        margin-top: 1vh;
        padding: 1%;
        resize: none;
    }

    .wpcf7-submit {
        margin-top: 1%;
        width: 100%;
        height: 30px;
        font-size: 4vw;
        font-family: 'Permanent Marker', cursive;
        color: #000;
        background: #ff1ae2;
        border: 1px solid #ff1ae2;
    }

    .contact-staff {
        padding: 5vh 0 5vh 0;
        text-align: center;
        width: 80%;
        margin: auto;
    }

    .contact-staff img {
        display: block;
        margin: auto;
        margin-top: 5vh;
    }


    /* Undersida produktioner */
    /* Channel */
    #channel-banner {
        background: linear-gradient(#f51010 50%, #811e1a);
        height: 30vh;
        padding-top: 20px;
    }

    #channel-banner img {
        display: block;
        margin: auto;
        width: 45vw;
        height: auto;
    }

    #channel-info {
        background: #153142;
        text-align: center;
        padding: 10vh 5vw 10vh 5vw;
    }

    #channel-content {
        background: #f1f1f1;
        height: 50vh;
    }

    #channel-subscribe {
        background: #153142;
        text-align: center;
        padding: 10vh 5vw 10vh 5vw;       
    }

    #channel-subscribe img {
        width: 60vw;
        height: auto;
        margin-bottom: 3vh;
    }

    #channel-social {
        background: #f1f1f1;
        padding: 10vh 5vw 10vh 5vw;
        text-align: center;
    }

    #channel-social p {
        color: #000;
    }

    .facebook-span a {
        color: #0082d5;
    }

    .facebook-span a:hover {
        color: #0f5a88;
    }


    /* Productions */
    #produktioner-banner {
        background: linear-gradient(#0096b9 50%, #01202e);
        height: 30vh;
        padding-top: 20px;
    }

    #produktioner-banner img {
        display: block;
        margin: auto;
        width: 45vw;
        height: auto;
    }

    #produktioner-info {
        background: #153142;
        text-align: center;
        padding: 10vh 5vw 10vh 5vw;
    }

    #produktioner-content {
        background: #f1f1f1;
        height: 50vh;
    }

    #produktioner-contact {
        background: #153142;
        text-align: center;
        padding: 10vh 5vw 10vh 5vw;       
    }

    #produktioner-social {
        background: #f1f1f1;
        padding: 10vh 5vw 10vh 5vw;
        text-align: center;
    }

    #produktioner-social p {
        color: #000;
    }


    /* Records */
    #records-banner {
        background: linear-gradient(#ff1ae2 50%, #222222);
        height: 30vh;
        padding-top: 20px;
    }

    #records-banner img {
        display: block;
        margin: auto;
        width: 45vw;
        height: auto;
    }

    #records-info {
        background: #153142;
        text-align: center;
        padding: 10vh 5vw 10vh 5vw;
    }

    #records-content {
        background: #f1f1f1;
        height: 50vh;
    }

    #dropbox-link img{
        width: 10vh;
        height: auto;
        float: left;
        position: relative;
        bottom: 5vh;
        left: 43vw;
    }

    #records-contact {
        background: #153142;
        text-align: center;
        padding: 10vh 5vw 10vh 5vw;       
    }

    #records-social {
        background: #f1f1f1;
        padding: 10vh 5vw 10vh 5vw;
        text-align: center;
    }

    #records-social p {
        color: #000;
    }

    #records-social img {
        width: 60vw;
        height: auto;
        margin-bottom: 2vh;
    }


    /* Listar publicerade poster på produktionssidor */
    .list-posts {
        background: #f1f1f1;
        height: 70vh;
        padding: 3vh 0 3vh 0;
        overflow: auto;
    }

    .list-posts h2 {
        color: #000;
        text-align: center;
    }

    .list-posts p {
        color: #000;
    }

    .post-div {
        overflow: hidden;
        width: 90%;
        margin: auto;
        margin-top: 4vh;
        margin-bottom: 4vh;
    }

    .post-div p {
        color: #000;
    }

    .post-div h4 {
        color: #000;
    }

    .post-div img {
        float: left;
    }


    /* Sida för enskild post */
    .single-post-featured-image {
        min-height: 20vh;
    }

    .single-post-featured-image img {
        display: block;
        margin: auto;
        max-width: 30vw;
        height: auto;
    }

    .single-post-content {
        width: 94%;
        margin: auto;
        margin-bottom: 3vh;
        min-height: calc(100vh - 100px);
        background: #f1f1f1;
        padding: 0% 3% 0% 3%  
    }

    .single-post-content h2 {
        color: #000;
        text-align: center;
        margin-bottom: 7vh;
    }

    .single-post-content p {
        color: #000;
    }

    .single-post-content iframe {
        display: block;
        max-width: 90%;
        margin: auto;
    }


    /* Footer */
    footer img {
        width: 8vw;
        height: auto;
    }
}








/* CSS för surfplatta */
@media screen and (min-width: 500px) and (max-width: 799px) {
    
    /* Förskjutning av menyknapp till höger */
    #dropdown-menu {
        left: 65vw;
    }

    /* Ändra storlek på textinmatningsfält */
    .wpcf7-text {
        height: 35px;
    }

    /* Ändra storlek på skickaknapp */
    .wpcf7-submit {
        height: 60px;
        width: 99%
    }
}







/* CSS för desktop */
@media screen and (min-width: 800px) {

    /* Text */
    h1 {
        display: inline-block;
        position: absolute;
        top: 25%;
        margin-left: 20px;
        font-size: 3vw;
        text-align: left;
        width: 19%;
        color: #fff;
        transition: color 1s;
    }

    h1:hover {
        color: #163142;
    }

    h2 {
        font-size: 4vw;
    }
    
    h3 {
        font-size: 3vw;
        height: 17vh;
        padding-top: 10vh;
    }
    
    h4 {
        font-size: 1.4vw;
    }
    
    p {
        font-size: 1.2vw;
    }
    
    a {   
        text-decoration: none;
        outline: 0;
        font-size: 1.2vw;
    }

    a:hover {
        color: #6b085e;
        cursor: pointer;
    }


    /* Banner */
    .banner img {
        min-width: 100%;
        height: auto;
    }


    /* Huvudmeny */
    nav {
        list-style-type: none;
        background: rgba(0, 0, 0, 0);
        margin-top: -4px;
        margin-bottom: 50px;
    }

    nav ul {
        display: block;
        text-align: center;
        margin-top: 40px;
    }

    nav li {
        display: inline-block;
    }

    .current-menu-item a {
        color: #ff1ae2;
    }

    .current-menu-item a::after {
        content: '';
        display: block;
        height: 5px;
        width: 100%;
        background: #fff;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 5%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 5%, 0 100%);
    }

    nav a {
        display: block;
        text-decoration: none;
        font-family: 'Permanent Marker', cursive;
        font-size: 1.8vw;
        color: #fff;
        margin-right: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
        transition: color 1s;
    }

    nav a:hover {
        color: #ff1ae2;
    }

    header {
        position: fixed;
        top: -170px;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        padding: 20px;
        height: 150px;
        transition: top 1s;
        z-index: 999;
    }

    header:hover {
        top: 0px;
    }

    #dropdown-menu {
        display: block;
        width: 5vw;
        position: absolute;
        top: 190px;
        left: 85vw;
        text-align: center;
        color: #fff;
        font-size: 1.4vw;
        background: rgba(0, 0, 0, 0.5);
        border: 1px solid #fff;
        cursor: default;
    }


    /* Pil över videobakgrund */
    #index-arrow {
        position: absolute;
        top: 90vh;
        width: 2.8vw;
        margin-left: 48%;
        padding: 0px 5px 10px 5px;
        text-align: center;
        font-size: 2.4vw;
        color: #fff;
        border: 3px solid #fff;
        border-radius: 100%;
        transition: all 0.3s ease-in-out;
    }
    
    #index-arrow:hover {
        transform: scale(0.9);
    }


    /* Videobakgrund */
    #background-video {
        width: 100%;
        height: 100%;
    }

    #background-video > video {
        height: 100vh;
        width: 100%;
        object-fit: cover;
    }


    /* Startsida */
    #index-container {
        margin-top: -5px;
        min-height: 40vh;
        background: #f1f1f1;
        padding: 10% 0% 10% 0%;
    }

    #index-container h2 {
        color: #000;
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 3%;
    }

    #index-container p {
        color: #000;
        padding: 0% 10% 0% 10%;
    }

    #index-latest-news {
        min-height: 60vh;
        padding-bottom: 5vh;
    }

    #index-latest-news h3 {
        text-align: center;
    }

    #index-latest-news div {
        display: inline-block;
        width: 20%;
        margin-right: 9vw;
        vertical-align: top;
    }

    #index-latest-news div:first-of-type {
        margin-left: 10vw;
    }

    .index-news-div img {
        display: block;
    }


    /* Produktionslogotyper */
    .index-productions {
        padding: 5% 0% 5% 0%;
        background: linear-gradient(#414f76, #000a29);
        text-align: center;
    }

    .index-productions img {
        transition: all 0.3s ease-in-out;
        max-width: 20%;
        height: auto;
    }

    .index-productions img:hover {
        transform: scale(0.9);
    }

    .index-productions p {
        display: inline;
    }

    .index-productions p:not(:last-of-type) {
        margin-right: 3%;
    }


    /* Tjänster */
    .services {
        width: 100%;
    }

    .services-img {
        position: relative;
        width: 100%;
    }

    .services-img:not(:nth-of-type(2)) {
        margin: 1vh 0 1vh 0;
    }

    .services-img img {
        display: block;
        width: 100%;
        height: auto;
        margin-top: -5px;
    }

    .services-text {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: 1s ease;
    }

    #services-video {
        background-color: #ff1ae2;
    }

    #services-sound {
        background-color: #163142;    
    }

    #services-picture {
        background-color: #01001f;
    }

    .services-img:hover .services-text {
        opacity: 0.87;
    }

    .services-text p {
        color: white;
        font-size: 1.1vw;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }

    .services-text h3 {
        color: white;
        font-size: 2.7vw;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }


    /* Sticky footer produktioner & tjänster*/
    .productions-site,
    .services
    {
        background: #01001f;
        min-height: calc(100vh - 50vh);
    }


    /* Kontaktformulär */
    #contact-form-div {
        display: block;
        width: 85%;
        min-height: 30vh;
        background-color: #163142;
        padding: 5% 5% 5% 10%;
    }

    #contact-text {
        display: inline-block;
        vertical-align: top;
        margin-right: 7%;
    }

    #contact-text p {
        margin-top: 5%;
    }

    .contact-arrow {
        text-align: center;
        font-size: 3vw;
    }

    #contact-arrow-down {
        display: none;
    }

    .wpcf7 {
        display: inline-block;
        width: 45%;
    }

    .wpcf7 label, input, textarea {
        display: block;
    }

    .wpcf7 label {
        font-size: 1vw;
        color: #fff;
        margin-top: 3%;
    }

    .wpcf7-text {
        background: #163142;
        border: none;
        height: 30px;
        width: 90%;
        border-bottom: 1px solid #fff;
        color: #fff;
    }

    #contact-info {
        float: left;
        width: 49%;
    }

    #contact-message {
        float: right;
        width: 49%;
        
    }

    #contact-message textarea {
        width: 100%;
        min-height: 18vh;
        padding: 1%;
        resize: none;
    }

    .wpcf7-submit {
        float: right;
        margin-top: 1%;
        width: 30%;
        height: 30px;
        font-size: 1vw;
        font-family: 'Permanent Marker', cursive;
        color: #000;
        background: #ff1ae2;
        border: 1px solid #ff1ae2;
    }

    .wpcf7-submit:hover {
        cursor: pointer;
        background: #6b085e;
        border: 1px solid #6b085e;
    }

    .contact-staff {
        padding: 2% 5% 5% 10%;
    }

    .contact-staff h3 {
        padding-top: 0vh;
    }

    .contact-staff article {
        overflow: hidden;
        margin-bottom: 5%;
    }

    .contact-staff article img {
        float: left;
        margin-right: 3%;
    }


    /* Undersida produktioner */
    /* Channel */
    #channel-info {
        background: #153142;
        text-align: center;
        padding: 10vh 20vw 10vh 20vw;
    }

    #channel-subscribe {
        background: #153142;
        text-align: center;
        padding: 20vh 20vw 20vh 20vw;
        
    }

    #channel-subscribe img {
        width: 22vw;
        height: auto;
        transition: all 0.3s ease-in-out;
    }

    #channel-subscribe img:hover {
        transform: scale(0.9);
    }

    #channel-social {
        background: #f1f1f1;
        padding: 20vh 20vw 20vh 20vw;
        text-align: center;
    }

    #channel-social p {
        color: #000;
    }

    .facebook-span a {
        color: #0082d5;
    }

    .facebook-span a:hover {
        color: #0f5a88;
    }


    /* Produktioner */
    #produktioner-info {
        background: #153142;
        text-align: center;
        padding: 10vh 20vw 10vh 20vw;
    }

    #produktioner-contact {
        background: #153142;
        text-align: center;
        padding: 20vh 20vw 20vh 20vw;
        
    }

    #produktioner-social {
        background: #f1f1f1;
        padding: 20vh 0 20vh 0;
        text-align: center;
    }

    #produktioner-social p {
        color: #000;
    }


    /* Records */
    #records-info {
        background: #153142;
        text-align: center;
        padding: 10vh 20vw 10vh 20vw;
    }

    #dropbox-link img{
        width: 20vh;
        height: auto;
        float: left;
        position: relative;
        bottom: 9vh;
        left: 45vw;
    }

    #records-contact {
        background: #153142;
        text-align: center;
        padding: 20vh 20vw 20vh 20vw;   
    }

    #records-contact p {
        margin-bottom: 2vh;
    }

    #records-social {
        background: #f1f1f1;
        padding: 20vh 20vw 20vh 20vw;
        text-align: center;
    }

    #records-social p {
        color: #000;
        margin-bottom: 5vh;
    }

    #dropbox-link img,
    #records-social img
    {
        transition: all 0.3s ease-in-out;
    }

    #dropbox-link img:hover,
    #records-social img:hover
    {
        transform: scale(0.9);
    }

    #records-social img {
        width: 22vw;
        height: auto;
    }


    /* Listar publicerade poster på produktionssidor */
    .list-posts {
        background: #f1f1f1;
        height: 60vh;
        padding: 3vh 0 3vh 0;
        overflow: auto;
    }

    .list-posts h2, .list-posts p {
        color: #000;
        text-align: center;
    }

    .list-posts p {
        color: #000;
        text-align: center;
    }

    .list-records {
        padding-bottom: 15vh;
    }

    .post-div {
        overflow: hidden;
        width: 30%;
        margin: auto;
    }

    .post-div::after {
        content: '';
        height: 1px;
        display: block;
        background: #000;
        width: 0%;
        margin: auto;
        margin-top: 2vh;
        margin-bottom: 4vh;
        transition: width 0.5s ease;
    }

    .post-div:hover:after {
        width: 70%;
    }

    .post-div p {
        color: #000;
        text-align: left;
    }

    .post-div h4 {
        color: #000;
    }

    .post-div img {
        float: left;
        max-width: 5vw;
        height: auto;
        margin-right: 1vw;
    }


    /* Sida för enskild post */
    .single-post-featured-image {
        min-height: 20vh;
    }

    .single-post-featured-image img {
        display: block;
        margin: auto;
        min-width: 20vw;
        height: auto;
    }

    .single-post-content {
        width: 60vw;
        margin: auto;
        margin-bottom: 3vh;
        min-height: calc(100vh - 100px);
        background: #f1f1f1;
        padding: 2vh 5vw 2vh 5vw;
    }

    .single-post-content h2 {
        color: #000;
        text-align: center;
        margin-bottom: 7vh;
    }

    .single-post-content p {
        color: #000;
    }

    .single-post-content iframe {
        display: block;
        width: 700px;
        height: 400px;
        margin: auto;
    }


    /* 404 */
    #error-site {
        padding: 20vh 0 0 5vw;
        height: calc(100vh - 38vh);
    }


    /* Sidfot */
    footer img {
        width: 3vw;
        height: auto;
        transition: all 0.3s ease-in-out;
    }
    
    footer img:hover {
        transform: scale(0.9);
    }
}